/*
Home page*/
#homePageSlider{
    position: relative;
    top: -15px;
}
#homeSliderSection{
    height: 75%;
}
#carsDropdown{
    position: relative;
    top: 5px;
    left: 10px;
}
#context{
    position: relative;
    display: flex;
    flex-direction: column;
    top: 50px;
    left: 20%;
}

/*Login Page*/
#loginBody{
    width: 100vw;
    height: 100vh;
}
#loginMainContext{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 25%;
    height: 50%;
    border: 1px solid #537FE7;
    border-radius: 15px;
}
#loginButtonInHome{
    height: 50%;
}

/*Admin Page*/
#adminDashBoard{
    position: relative;
    width: 75vw;
    height: 50vh;
    background: rgba(0,0,255,.1);
    left: 12%;
    top: 15px;
}
/*
#adminTaskContext{
    position: relative;
}
*/
#registeredCustomer{
    position: relative;
    top: 40px;
    left: 30px;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-gap: 10px;
}
#registeredCustomer>div{
    width: 300px;
    height: 90px;
    background: #635985;
    border-radius: 15px;
}
#registeredCustomer>div>h2{
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 18px;
    color: aliceblue;
    font-family: "Open Sans Semibold";
}

/*Driver Manage Page*/
#driverManagerForm{
    position: relative;
    width: 22vw;
    left: 224px;
    top: -65px;
    height: 35vh;
}
#sideContainerInDriver{
    width: 30vw;
    height: 77vh;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#driverManagerForm>h2{
    position: relative;
    font-size: 18px;
    color: white;
    font-family: "Open Sans Semibold";
}

/*Driver Manage Page*/
#carsAddingForm{
    position: relative;
    width: 30vw;
    bottom: 670px;
    left: 15%;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#carImageImages>img{
    width: 100px;
    height: 100px;
}

/*Customer Page*/
#customerManagerForm{
    width: 40vw;
    height: 60vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#btnCustomerAdd{
    position: relative;
    bottom: 15px;
}
#tableSection{
    position: relative;
    width: 80vw;
    top: 80vh;
    left: 10vw;
}




